doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="styleSheet", href="css/main.min.css")
    title Escada
  body
    #container.first-background.loading
      #mc1.m.mc
      #mc2.m.mc
      #mc3.m.mc
      #mv1.m.mv
      #mv2.m.mv
      #mv3.m.mv
      #mrb1.m.mrb
      #mrb2.m.mrb
      #mrb3.m.mrb
      #mf1.m.mf
      #mf2.m.mf
      #mf3.m.mf

      #instructions
        #hand

      #mrb4_f.m.mrb.f
      #mv4_f.m.mv.f

      .loader#loader loading ...


    script(src="js/main.min.js")
